<div class="call">
  <div class="call-box-top">
    {% if site.data.contact.phone %}
        <div class="call-phone"><strong>Phone: </strong> {{ site.data.contact.phone }} </div>
    {% endif %}
    {% if site.data.contact.whatsapp_group %}
    <div class="call-email"><strong>Join WhatsApp: </strong>
      <a href="{{ site.data.contact.whatsapp_group | absolute_url }}">
        {{ site.data.contact.whatsapp_group }}
      </a>
    </div>
    {% endif %}
  </div>
    {% if include.show_button %}
      <div class="call-box-bottom">
        <a href="{{ site.data.contact.contact_button_link }}" class="button">Donate</a>
      </div>
    {% endif %}
</div>
